@use "sass:color";
@use "../../../../variables" as *;

// appointments
.calendar__appointment_list {
  border-top: 1px solid #eee;
  margin: 0 -20px;
  &__item {
    padding: 15px 20px;
    // border-bottom: 1px solid #eee;
    &:hover {
      background: color.adjust($mdc-theme-primary, $lightness: 36%);
    }
    &__hour {
      font-weight: bold;
    }
    &__title {
    }
    &__done {
      text-align: right;
    }
  }
}
